<!DOCTYPE html>
<html>
<head>
	<title> PyDee </title>
	<header>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'bootstrap.min.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename = 'icon.png') }}">

	<script src="{{ url_for ('static', filename = 'ace.js')}}" type="text/javascript" charset="utf-8"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
  	crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{url_for('static', filename = 'bootstrap.min.js')}}" ></script>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="{{url_for('home')}}"> PyDee </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <!--{% if session['logged_in'] %}
		    <p class="navbar-nav nav-link" style = "margin-top:8px;color:white; margin-left: 460px;"> Hello {{ session['username'] }}! </p>
		    {% endif %}-->

		      	<!--<li class="nav-item dropdown">
		        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          	Dropdown
		        	</a>
		        	<div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
		          		<a class="dropdown-item text-light" href="#">Action</a>
		          		<a class="dropdown-item text-light" href="#">Another action</a>
		          		<a class="dropdown-item text-light" href="#">Something else here</a>
		        	</div>
		      	</li>-->
		      	<ul class="navbar-nav">
		        	{% if session['logged_in'] %}
					<a class="nav-link" style = "margin-left:1050px;position:absolute;margin-top:-20px;" href="/PreviousCodes/"><span class="glyphicon glyphicon-log-out"></span> My Codes </a>
					<a class="nav-link" style = "margin-left:1150px;position:absolute;margin-top:-20px;" href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout </a>
					{% else %}
					<a class="nav-link" style = "margin-left:1050px;position:absolute;margin-top:-20px;" href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login </a>
					<a class="nav-link" style = "margin-left:1150px;position:absolute;margin-top:-20px;" href="/register/"><span class="glyphicon glyphicon-pencil"></span> Register</a>
					{% endif %}	
				</ul>
			  </div>
			</nav>
		</header>
	</head>
	<body>
	</body>
</html>