<!DOCTYPE html>
<html>
<head>
	<title> PyDee </title>
	<header>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'bootstrap.min.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename = 'icon.png') }}">

	<script src="{{ url_for ('static', filename = 'ace.js')}}" type="text/javascript" charset="utf-8"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
  	crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{url_for('static', filename = 'bootstrap.min.js')}}" ></script>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="{{url_for('home')}}"> PyDee </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <!--{% if session['logged_in'] %}
		    <p class="navbar-nav nav-link" style = "margin-top:8px;color:white; margin-left: 460px;"> Hello {{ session['username'] }}! </p>
		    {% endif %}-->

		      	<!--<li class="nav-item dropdown">
		        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          	Dropdown
		        	</a>
		        	<div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
		          		<a class="dropdown-item text-light" href="#">Action</a>
		          		<a class="dropdown-item text-light" href="#">Another action</a>
		          		<a class="dropdown-item text-light" href="#">Something else here</a>
		        	</div>
		      	</li>-->
		      	<ul class="navbar-nav">
		        	{% if session['logged_in'] %}
					<a class="nav-link" style = "margin-left:1050px;position:absolute;margin-top:-20px;" href="/PreviousCodes/"><span class="glyphicon glyphicon-log-out"></span> My Codes </a>
					<a class="nav-link" style = "margin-left:1150px;position:absolute;margin-top:-20px;" href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout </a>
					{% else %}
					<a class="nav-link" style = "margin-left:1050px;position:absolute;margin-top:-20px;" href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login </a>
					<a class="nav-link" style = "margin-left:1150px;position:absolute;margin-top:-20px;" href="/register/"><span class="glyphicon glyphicon-pencil"></span> Register</a>
					{% endif %}	
					<!--<a class="nav-link" href="{{url_for('login')}}">Login<span class="sr-only">(current)</span></a>-->
				</ul>
		  </div>

		</nav>
</header>

</head>

<style type="text/css">
		#myEditor{
			height:400px;
		}	

</style>

<body>

	<div id = "myEditor" name = "source"></div>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script>

		var editor = ace.edit("myEditor");
    	editor.setTheme("ace/theme/monokai");
    	editor.session.setMode("ace/mode/python");
    	
    	{% if data %}
    		editor.setValue({{ data|tojson }}, 1);
    	{% endif %}

    	editor.getSession().on("change", function(){
    				$("#Code").val(editor.getSession().getValue());
    			});

    		 /*$(function(){
    		 	$('form').on('submit', function(e){
    		 		e.preventDefault();
    		 		$.ajax({
    		 			type: 'post',
    		 			url: "{{url_for('compile_and_run')}}",
    		 			data: $('form').serialize(),
    		 			success: function(data){
    		 				alert('sucess!');
    		 				$('#output').val() = data['output'];
    		 			}
    		 		});
    		 	});
    		 });*/
	      
    </script>
    <div>	

    	<p> <h3> </h3> </p>

    </div>
	<form action = "{{url_for('compile_and_run')}}" method = "POST">
	<!--<form>-->

		<textarea id = "Code" name="source" style="display:none;"></textarea>
  		<label for="comment">Stdin:</label>
		<textarea class="form-control" rows="5" id="stdin" name = "input"></textarea>
  		<input class ="btn btn-dark" style = "margin:10px;align-content: center;" name = "submit" type="submit" value="Submit"/>

  		<input class ="btn btn-light" style = "margin:10px;align-content: center;" onclick = "location.href = 'http://localhost:5000/'" value="Reset"/>

	</form>	

	<div> 
		<textarea id = "output" class="form-control" rows="10" name = "output">
		</textarea> 

		{% if Result %}
			<script type="text/javascript">
				var x = {{ Result['output']|tojson }};
				document.getElementById("output").value = x;
			</script>
		{% endif %}
	</div>
	
	<!--<script type="text/javascript">
	
		var editor, editorText;

		YUI().use(
		  'aui-ace-editor',
		  function(Y) {
		    editor = new Y.AceEditor(
		      {
		        boundingBox: '#myEditor',
		        mode: 'javascript',
		        value: "//Write your code here!"
		      }
		    );
		    editor.render();
		  }
		);-->

</body>
</html>