<!DOCTYPE html>
<html>
<head>
	<title>Previous Codes</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'bootstrap.min.css') }}">
	<style type="text/css">
		
		.inline {
		  display: inline;
		}

		.link-button {
		  background: none;
		  border: none;
		  color: blue;
		  text-decoration: underline;
		  cursor: pointer;
		  font-size: 1em;
		  font-family: serif;
		}

		.link-button:focus {
		  outline: none;
		}

		.link-button:active {
		  color:red;
		}

	</style>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="{{url_for('home')}}"> PyDee </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      	<ul class="navbar-nav">
		        	{% if session['logged_in'] %}
					<a class="nav-link" style = "margin-left:1050px;position:absolute;margin-top:-20px;" href="/PreviousCodes/"><span class="glyphicon glyphicon-log-out"></span> My Codes </a>
					<a class="nav-link" style = "margin-left:1150px;position:absolute;margin-top:-20px;" href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout </a>
					{% else %}
					<a class="nav-link" style = "margin-left:1050px;position:absolute;margin-top:-20px;" href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login </a>
					<a class="nav-link" style = "margin-left:1150px;position:absolute;margin-top:-20px;" href="/register/"><span class="glyphicon glyphicon-pencil"></span> Register</a>
					{% endif %}	
				</ul>
		  </div>

		</nav>
</head>
<body>
	{% if list|length != 0 %}
		<table class = "table table-striped table-sm table-bordered table-hover table-light">
			
				<tr>
					<th scope = "col"> Key </th>
					<th scope = "col"> Last modified on </th>
					<th scope = "col"> Data </th>
					<th scope = "col"> Remove </th>
				</tr>
					{% for rows in list %}
						<tr>
							<form action = "{{url_for('home')}}" method = "post">

								<td><button type="submit" name="uniqueid" value="{{ rows[4] }}" class="link-button" style="color: red; font-family: 'ubuntu';">{{ rows[4] }}</button></td>
								<td>{{ rows[2] }}</td>
								<td><input type ="hidden" name="data" value = "{{ rows[3] }}" >{{ rows[3] }}</td>
							</form>	

							<form action = "{{url_for('previousCodes')}}" method = "get">
								<td>
									<button type="submit" name="hash" value="{{ rows[4] }}" class="link-button">
										<img src="{{url_for('static',filename = 'delete.png')}}" height = "30" width = "30">
									</button>
								</td>

							</form>
						</tr>			
					{% endfor %}
		</table>
	{% else %}
			<div align = 'center' style = "padding:30px;"> No Items to show... </div>
	{% endif %}	


</body>
</html>